html,
body {
  width: 100%;
  height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #E9EDF1;
  font-family: Open Sans,'Helvetica Neue',Arial,sans-serif;
  margin-bottom: 91px;
}

a {
  color: #8dc73f;
  transition: .4s;
}

a, a:hover, a:focus, a:active {
  outline: 0;
  text-decoration: none;
  transition: .4s;
  color: inherit;
}

textarea, textarea:focus ,
input, input:focus {
  outline: 0;
}

a:hover {
  color: #2F7AF8;
}

button {
  opacity: 1;
  transition: .4s;
}

button:hover {
  opacity: 0.7;
  transition: .4s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Signika','Helvetica Neue',Arial,sans-serif;
  color: #000;
}

p {
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 23px;
  color: #6a7a89;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.no-margin-top {
  margin-top: 0px !important;
}

.container {
  padding: 0;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.no-padding {
  padding: 0 !important;
}

/* 2. HEADER */

header {
  background: #2a3744;
  padding: 0 0 30px;
  z-index: 999999999;
}

header .col-md-8 {
  position: relative;
}

header .container {
  position: relative;
}

.navbar-default .navbar-toggle {
  border-color: rgba(255,255,255,0.2);
}

.logo {
  margin: 29px 0 0;
  display: table;
}

/* 3. MENU STYLES */

.navbar-default {
  border: none;
  background: #fff;
  border-bottom: 2px solid #e9edf1;
  border-radius: 0px;
  height: 80px;
  margin: 0;
  z-index: 99999;
}

.navbar-nav li a {
  font-size: 16px;
  text-transform: uppercase;
  color: #6a7a89;
  letter-spacing: 0.05em;
}

.navbar-nav li:hover a ,
.navbar-nav li a:hover ,
.navbar-nav li a.active {
  color: #2a3744;
}

.navbar-nav li a.active {
  color: #2a3744;
  font-weight: bold;
}

.navbar-nav {
  float: left;
  margin: 0px -15px;
}

.navbar-nav > li {
  float: left;
  margin-right: 40px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 0px;
  line-height: 58px;
  position: relative;
}

.nav > li > a span {
  background: #E53935;
  padding: 2px 6px;
  font-size: 7px;
  letter-spacing: 0.05em;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
  position: absolute;
  top: 23px;
  height: 14px;
  line-height: 9px;
  right: -24px;
}

.nav > li:hover > a:after ,
.nav > li > a:hover:after ,
.nav > li > a.active:after {
  content: "";
  height: 2px;
  background: #2a3744;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 1px;
}

.dropdown-menu {
  padding: 0px;
}

.dropdown-menu li a {
  text-transform: none;
  font-size: 13px;
  letter-spacing: 0.05em;
  border-bottom: 1px solid #e5e5e5;
  padding: 13px 25px;
  color: #999 !important;
}

.dropdown-menu li a:hover {
  background: transparent;
  color: #2a3744 !important;
}

.dropdown-menu li:last-child a {
  border-bottom: none;
}

.freebie-btn {
  position: absolute;
  top: 151px;
  right: -4px;
  z-index: 9999999;
  transition: .4s;
}

.freebie-btn:hover {
  transition: .4s;
}

.is-sticky .freebie-btn {
  top: 72px;
  transition: .4s;
}

.freebie-btn a {
  width: 62px;
  height: 62px;
  background: url(../images/freebie.png) no-repeat;
  display: table;
}

.freebie-btn a:hover {
  background: url(../images/freebie-hr.png) no-repeat;
}



/* FOOTER */
.footer-bottom {
  background: #26333f;
  padding: 33px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 91px;
}

.footer-bottom p {
  font-size: 16px;
  color: #6a7a89;
  letter-spacing: 0.05em;
  line-height: 25px;
  margin: 0;
}